<h2 mat-dialog-title>Edycja pokoju</h2>

<mat-dialog-content [formGroup]="form">
  
    <mat-form-field>
        <input matInput
                placeholder="Numer pokoju"
               formControlName="roomNumber">
    </mat-form-field>
    <br/>
    <mat-form-field>
        <input matInput input-type="number"
                placeholder="Piętro"
               formControlName="roomFloor">
    </mat-form-field>
 
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Anuluj</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Zapisz</button>
</mat-dialog-actions>